.apartments-cover{
  padding: 1em;
  margin: 1em;
  & .heading{
  }

  & .apartment-wrapper{
    height: 350px;
  }
  & .image-section{
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
  & .image-section img{
    width: 100%;
    height:auto;
    max-height: 250px;
  }
  & .address-block{
    font-family: sans-serif;
  }
  & a{
    text-decoration: none;
    text-decoration-color: #696969;
    color: inherit;
  }
  & a:hover{
    text-decoration: none;
    color: inherit;
  }
  & a:hover img{

  }
 & .room-color{
   color: $lightblue;
   font-weight: bold;
 }
}
